.cart-item {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 650px;
  margin: 0 2%;
}

.cart-item img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 5px;
}

.cart-item p {
  align-items: center;
  margin: 10px;
}

.cartbtn {
  padding: 0px 3px;
  width: 40px;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-right: 5px;
  background-color: rgb(120, 69, 69);
  color: white;
  border: none;
  cursor: pointer;
}

.cart-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price {
  font-weight: 700;
  font-size: 1.2em;
  align-items: center;
}

hr {
  width: 650px;
  height: 1px;
  color: lightgray;
  margin: 2px 2%;
}

@media (max-width: 834px) {
  .cart-item {
    width: 400px;
  }
  .cart-item img {
    width: 100px;
    height: 80px;
    margin-right: 5px;
  }

  .cart-item p {
    margin: 5px;
  }
  .cart-elements p,
  .quantityDigit {
    font-size: 1.2em;
    font-weight: 700;
  }
  /* .price {
    display: none;
  } */
  hr {
    width: 400px;
  }
}

@media (max-width: 575px) {
  .cart-item {
    width: 200px;
  }

  .cart-item img {
    width: 40px;
    height: 40px;
  }

  /* .cart-elements {
    font-size: .6em;
    font-weight: 500;
  } */
  .price {
    display: none;
  }

  .cart-elements p,
  .quantityDigit {
    font-size: 1.2em;
  }

  .quantity-container {
    gap: 0px;
  }

  .cartbtn {
    margin-left: 5px;
  }
  hr {
    width: 200px;
  }
}

